html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;

  background: rgb(220, 220, 220);
  color: rgb(100, 100, 100);
  font-family: "Kode Mono", monospace;

  user-select: none;
  touch-action: manipulation;
}

canvas {
  position: fixed;
}

.loading {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
