html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgb(220, 220, 220);
  color: rgb(100, 100, 100);
  font-family: "Kode Mono", monospace;

  user-select: none;
  touch-action: manipulation;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  touch-action: manipulation;
}

canvas {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
}

.loading {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 12px;
}
